streamlit==0.64.0
pandas
wordcloud
matplotlib
shapely
descartes
streamlit_folium
folium
streamlit_pandas_profiling
beautifulsoup4
scipy
numpy
requests
nltk
keras
sklearn
sweetviz
spacy
Keras-Preprocessing
